<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Страница администратора</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand mb-0 h1" id="admin-print-name-and-roles">

    </div>
    <ul class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выйти</a>
        </li>
    </ul>
</nav>

<div class="row mt-2">
    <div class="col-2 fixed-left">
        <div th:fragment="leftMenu">
            <ul class="nav flex-sm-column">
                <li class="nav-item bg-primary">
                    <a class="nav-link text-white"
                       href="#" th:href="@{/admin}">Администратор</a>
                </li>
                <li class="nav-item bg-primary">
                    <a class="nav-link text-white"
                       href="#" th:href="@{/user}">Пользователь</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10 bg-light">
        <h1>Панель администратора</h1>

        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users"
                   role="tab" aria-controls="nav-users" aria-selected="true">Список пользователей</a>
                <a class="nav-item nav-link" id="nav-new-user-tab" data-bs-toggle="tab" href="#nav-new-user"
                   role="tab" aria-controls="nav-new-user" aria-selected="false">Добавить пользователя</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <div id="nav-users" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-users-tab">
                <p><strong>Все пользователи:</strong></p>
                <div class="table-responsive table-bordered">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Электронная почта</th>
                            <th scope="col">Логин</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Изменить</th>
                            <th scope="col">Удалить</th>
                        </tr>
                        </thead>
                        <tbody class="users-table">

                        </tbody>
                    </table>
                </div>
            </div>

            <div id="nav-new-user" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-new-user-tab">
                <p><strong>Добавить пользователя</strong></p>
                <div class="container-fluid text-center col-3">
                   <form class="add-user-form">
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Имя</strong>
                                    <input type="text" name="name" id="add-name"
                                           class="form-control"
                                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Возраст</strong>
                                    <input type="number" name="age" id="add-age"
                                           class="form-control"
                                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Электронная почта</strong>
                                    <input type="email" name="email" id="add-email" class="form-control"
                                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Логин</strong>
                                    <input type="text" name="username" id="add-username"
                                           class="form-control"
                                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Пароль</strong>
                                    <input type="password" name="password" id="add-password"
                                           class="form-control"
                                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <label><strong>Роли</strong><br>
                                    <select class="custom-select bd-primary" size="2" multiple="multiple"
                                            name="roles" id="add-roles" style="width: 210px">
                                        <option value="ROLE_ADMIN">Администратор</option>
                                        <option selected value="ROLE_USER">Пользователь</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <button type="submit" id="add-submit" class="btn btn-success">Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="edit-window">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEdit">Редактировать пользователя</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" id="edit-close-button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container-fluid text-center col-7">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label>ID
                                <input type="text" class="form-control" id="edit-id" readonly="readonly">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Имя
                                <input type="text" class="form-control" id="edit-name" name="name">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Возраст
                                <input type="number" class="form-control" id="edit-age" name="age">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Электронная почта
                                <input type="text" class="form-control" id="edit-email" name="email">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Логин
                                <input type="text" class="form-control" id="edit-username" name="username">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Пароль
                                <input type="password" class="form-control" id="edit-password" name="password">
                            </label>
                        </div>
                        <div class="d-flex flex-row bd-highlight">
                            <div class="form-group">
                                <label>Роль:
                                    <select class="custom-select bd-primary" size="2" multiple id="edit-roles" name="editRoles"
                                            style="width: 220px">
                                        <option id="edit-role-admin" value="ROLE_ADMIN">Администратор</option>
                                        <option id="edit-role-user" selected value="ROLE_USER">Пользователь</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="edit-exit-button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" id="edit-submit-button" class="btn btn-info">Изменить</button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" role="dialog" id="delete-window">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDelete">Удалить</h5>
                <button type="button" class="close" data-bs-dismiss="modal" id="delete-close-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid text-center col-6">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label>ID
                            <input type="text" class="form-control" id="delete-id" readonly="readonly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Имя
                            <input type="text" class="form-control" id="delete-name" readonly="readonly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Возраст
                            <input type="text" class="form-control" id="delete-age" readonly="readonly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Электронная почта
                            <input type="text" class="form-control" id="delete-email" readonly="readonly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Логин
                            <input type="text" class="form-control" id="delete-username" readonly="readonly">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Пароль
                            <input type="password" class="form-control" id="delete-password" readonly="readonly">
                        </label>
                    </div>
                    <div class="d-flex flex-row bd-highlight">
                        <div class="form-group">
                            <label>Роль:
                                <select class="custom-select bd-primary" size="2" disabled name="roles"
                                        style="width: 210px">
                                    <option id="delete-role-admin" value="ROLE_ADMIN">Администратор</option>
                                    <option id="delete-role-user" value="ROLE_USER">Пользователь</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="delete-exit-button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" id="delete-submit-button" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
<script src="admin.js"></script>
<script src="adduser.js"></script>
<script src="edit-delete-user.js"></script>
</body>
</html>