<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <h2>Сведения о пользователе:</h2>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Электронная почта"</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td th:text="${user.getName()}">Имя</td>
    <td th:text="${user.getAge}">Возраст</td>
    <td th:text="${user.getEmail}">Электронная почта</td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>